/* FONT USAGE
font-family: 'Abel', sans-serif;
font-family: 'Maven Pro', sans-serif;
*/

:root {
    --color1: rgb(222, 126, 127);
    --color2: rgb(251, 168, 150);
    --color3: rgb(173, 88, 147);
    --color4: rgb(94, 46, 108);
    --color5: #290c3c;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;

    background-image: url(assets/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg);
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
}

header {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1 {
    font-family: 'Maven Pro', sans-serif;
    font-weight: lighter;
    color: white;
}
header h1 span {
    font-weight: bold;
}
header img {
    height: 10rem;
}

.countdown {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;

    font-family: 'Abel', sans-serif;
    color: white;
    text-shadow: 0 0 20px white;
}
.countdown-wrapper {
    width: 13rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.countdown span {
    font-size: 8rem;
    font-weight: bold;
}
.countdown p {
    font-size: 1.5rem;
}

.links {
    width: 100%;
    margin-top: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons {
    margin-bottom: 0.5rem;

    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.buttons a {
    padding: 1rem;

    font-family: 'Abel', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;

    background-color: rgba(222, 126, 127, 0.3);

    box-shadow: 2px 2px 10px rgba(94, 46, 108, 0.5);

    backdrop-filter: blur(1px);
}
.nope {
    opacity: 0.5;
    cursor: default;
}

.social a {
    text-decoration: none;
}
.social a img {
    width: 1.5rem;
}