/* FONT USAGE
font-family: 'Abel', sans-serif;
font-family: 'Maven Pro', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;

    background-image: url(assets/wade-allen-FAf1sMb_NTU-unsplash.jpg);
    background-position: top;
    background-size: cover;
    overflow: hidden;
}

header {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Maven Pro', sans-serif;
    color: white;
}
header img {
    height: 10rem;
}
header h1 {
    font-size: 3em;
    font-weight: lighter;
}
header h1 span {
    font-weight: bold;
}

.countdown {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;

    font-family: 'Abel', sans-serif;
    color: white;
    text-shadow: 0 0 10px white;
}
.countdown-wrapper {
    width: 13rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.countdown span {
    font-size: 8rem;
    font-weight: bold;
}
.countdown p {
    font-size: 1.5rem;
}

.links {
    width: 100%;
    margin-top: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons {
    margin-bottom: 0.5rem;

    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.buttons a {
    padding: 1rem;

    font-family: 'Abel', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;

    background-color: rgba(184, 122, 61, 0.3);

    border-radius: 5px;

    backdrop-filter: blur(1px);
}
.nope {
    opacity: 0.5;
    cursor: default;
}

.social a {
    text-decoration: none;
}
.social a img {
    width: 1.5rem;
}

footer {
    width: 100%;
    padding-bottom: 3px;

    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;

    font-family: 'Abel', sans-serif;
    font-size: 0.8rem;
    font-weight: lighter;
    color: white;
}
footer address {
    display: inline;
}