/* FONT USAGE
font-family: 'Abel', sans-serif;
font-family: 'Maven Pro', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    width: 100vw;

    background-image: url(assets/wade-allen-FAf1sMb_NTU-unsplash.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 
=================================================
HEADER
=================================================
*/

header {
    width: 100%;
    margin-bottom: 2vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Maven Pro', sans-serif;
    color: white;
}
header img {
    height: 20vh;
}
header h1 {
    font-size: 4rem;
    font-weight: lighter;
    text-align: center;
}
header h1 span {
    font-weight: bold;
}
header p {
    font-size: 1.2rem;
}

/* 
=================================================
COUNTDOWN
=================================================
*/

.countdown {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;

    font-family: 'Abel', sans-serif;
    color: white;
    text-shadow: 0 0 1rem white;
}
.countdown-wrapper {
    width: 13rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.countdown span {
    font-size: 8rem;
    font-weight: bold;
}
.countdown p {
    font-size: 1.6rem;
}

/* 
=================================================
LINKS
=================================================
*/

.links {
    width: 100%;
    margin-top: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons {
    margin-bottom: 0.5rem;

    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.buttons a {
    padding: 1rem;

    font-family: 'Abel', sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;

    background-color: rgba(184, 122, 61, 0.3);

    border-radius: 5px;

    backdrop-filter: blur(1px);
}
.unavailable {
    opacity: 0.5;
    cursor: default;
}

.social a {
    text-decoration: none;
}
.social a img {
    width: 2rem;
}

/* 
=================================================
FOOTER
=================================================
*/

footer {
    width: 100%;

    position: absolute;
    bottom: 1vh;

    display: flex;
    flex-direction: row;
    justify-content: center;

    font-family: 'Abel', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: white;
}
footer address {
    display: inline;
}

/* 
=================================================
RESPOSITIVITY
=================================================
*/

@media screen and (max-width: 450px) {
    body {
        justify-content: start;
    }

    header {
        margin-top: 8vh;
    }

    .countdown {
        flex-direction: column;
    }

    footer {
        margin-top: 3vh;
        position: initial;
    }
}